<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Listing</h1>
    <form action="/listings/<%listing._id%>?_method=PUT" method="post">
        Title:<input type="text" name="listing[title]" value="<%=listing.title%>"><br><br>
        Description:<br><textarea name="listing[description]" cols="30" rows="10"><%=listing.description%></textarea><br><br>
        Image:<input type="text" name="listing[image]" value="<%=listing.image%>"><br><br>
        Price:<input type="number" name="listing[price]" value="<%=listing.price%>"><br><br>
        Country:<input type="text" name="listing[country]" value="<%=listing.country%>"><br><br>
        Location:<input type="text" name="listing[location]" value="<%=listing.location%>"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>